  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  img.kiri{
    float: left;
    margin: 5px;
  }

  img.tengah{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.a{
    text-align: center;
  }

  div.b{
    text-align: left;
  }

  .bg-header{
    background-color: #646FD4;
  }